<?xml version="1.0" encoding="utf-8"?>
<manifest package="piedpiper1337.github.io.cortex"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_MODELS"
            android:value=
                "piedpiper1337.github.io.cortex.models.SMSQuery,piedpiper1337.github.io.cortex.models.RawData"/>

        <meta-data android:name="AA_SERIALIZERS"
                   android:value="piedpiper1337.github.io.cortex.utils.HashMapSerializer" />

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustResize">
            >

            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".services.SmsParserService"
            android:exported="false"/>

    </application>

</manifest>
